body{
	padding: 16px;
	font-family: sans-serif;
}
			/* Style the tab */
			.tab {
					overflow: hidden;
					border: 1px solid #ccc;
					background-color: #f1f1f1;
			}
			/* Style the buttons inside the tab */
			.tab button {
					background-color: inherit;
					float: left;
					border: none;
					outline: none;
					cursor: pointer;
					padding: 14px 16px;
					transition: 0.3s;
					font-size: 17px;
			}
			/* Change background color of buttons on hover */
			.tab button:hover {
					background-color: #ddd;
			}
			/* Create an active/current tablink class */
			.tab button.active {
					background-color: #C4C8D3;
			}
			/* Style the tab content */
			.tabcontent {
					display: none;
					padding: 6px 12px;
					border: 1px solid #ccc;
					border-top: none;
			}

			.imageRow {
				width: 100%;
				background-color: #d4d4d4;
				
			}

body{
	font-size: 16px;
	color: #353535;
	background: #F9F9F9;
}
table{
	
	border-collapse: collapse;
	background: linear-gradient(to bottom, #C4C8D3, white);
	
}
td {
	padding-left: 15px;
    border-bottom: 1px solid #ddd;
}
tr{
	border: 1px solid #ddd;
}

tr:hover {
	background-color: #B6C5D6;
}

#list_item{
	width: 80%;
}
#index_item{
	font-weight: 600;
}
